
:root {
  --bg: #eae2d7;
  --fg: #5e3d1c;
  --txt: #2f2f2f;
  --acnt-a: #665340;
  --acnt-b: #b8aca2;
  --acnt-c: #b57843;
  --acnt-d: #e1dad2;
  --acnt-e: #eae2d7;
  --acnt-f: #f0ae4e;
  --main: #665340;
  --clr-well: #6a7fef;
  --valid-selection: #4fff4f;
  --invalid-selection: #ff4444;
  --invalid-selection: #ff0000;
  --bd: #6f4e2d;
  --clr: #00000000;
  --width-portrait: 90vw;
  --width-b-portrait: 100vw;
  --width-landscape: 50vw;
  --width-b-landscape: 60vw;
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  background: var(--bg);
  overflow: hidden;
  background: var(--acnt-f);
  font-family: mono;
}

.header-area {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 12em;
  background: var(--clr);
  z-index: 6;
  position: absolute;
  gap: 1.5em;
}

header {
  padding: 2em;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  background: var(--clr);
}

.header-curve {
  top: -4em;
  left: 0;
  width: 100%;
  height: 5em;
  padding: 2em;
  mask-image: radial-gradient(ellipse farthest-corner at bottom, transparent 49%,  white 50%);
  transform: scale(200%);
  position: absolute;
  background: linear-gradient(90deg, var(--acnt-d), var(--acnt-e), var(--acnt-d));
  display: none;
}

.header-box-shadow {
  box-shadow: var(--acnt-f) 0 0 5em 2em;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.menu {
  position: absolute;
  width: 4em;
  height: 4em;
  border: 2px solid var(--acnt-b);
  right: 1em;
  top: 1em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  box-shadow: var(--acnt-b) 0 0 1em .2em, inset -.2em -.2em 2em var(--bg);
  transition: 1s;
  cursor: pointer;
  z-index: 9;
  background: var(--acnt-b);
}

.menu:hover {
  box-shadow: var(--bg) 0 0 .2em .2em, inset -.2em -.2em 1em var(--acnt-f);
}

.menu-div {
  width: 60%;
  height: .2em;
  border: 2px solid var(--acnt-c);
  border-radius: 50%;
  transition: .2s;
  transition-timing-function: ease-out;
}

.menu-div:nth-child(1) {
  border: 2px solid var(--acnt-d);
  width: 30%;
}

.menu-div:nth-child(3) {
  border: 2px solid var(--acnt-d);
  width: 30%;
}

.menu-panel {
  top: 0;
  display: grid;
  width: 100%;
  height: 0;
  z-index: 7;
  background: var(--acnt-e);
  position: absolute;
  transition: .2s;
  opacity: 0;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  padding: 10em 2em 2em 2em;
  gap: 2em;
}

.menu-panel-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1em;
  background: var(--acnt-d);
  box-shadow: var(--acnt-b) 0 0 .2em .1em, inset -.2em -.2em 1em var(--bg);
  border-radius: .5em;
  opacity: 0;
  transition: .7s;
  gap: 1em;
}

.curve-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr);
  top: 0;
  width: 100%;
  height: 3em;
  position: relative;
}

.outer-field {
  width: 100%;
  height: 100%;
  background: radial-gradient(var(--acnt-e), var(--acnt-a));
  z-index: 0;
  overflow: hidden;
}

.display-panel {
  position: absolute;
  top: 2em;
  left: 2em;
  height: 6em;
  width: 6em;
  border: 2px solid var(--acnt-b);
  box-shadow: var(--acnt-b) 0 0 .2em .2em;
  border-radius: 50%;
  background: radial-gradient(var(--acnt-d), var(--acnt-f));
  display: flex;
  align-items: center;
  justify-content: center;
}

.points-display {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--txt);
}

.footer-curve {
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: -50em;
  height: 100em;
  background: var(--acnt-d);
  box-shadow: var(--bd) 0 0 .5em .1em, inset -.2em -.2em 1em var(--acnt-d);
  border: 2px solid var(--acnt-d);
  width: 100%;
  z-index: 3;
  display: none;
}

.inner-field {
  z-index: 5;
  width: calc(var(--width-landscape) - 15%);
  height: calc(var(--width-landscape) - 10%);
  left: calc((var(--width-landscape) / 2) + 7.5%);
  top: 7.5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--acnt-b);
  backdrop-filter: blur(2px);
  box-shadow: var(--acnt-f) 0 0 2em .2em, inset -.2em -.2em 2em var(--acnt-f);
  border-radius: 50%;
}

.ceil-shader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
}

.main-area {
  width: calc(var(--width-landscape) - 15em);
  height: calc(var(--width-landscape) - 15em);
  border: 2px solid var(--acnt-c);
  box-shadow: var(--acnt-c) 0 0 1em .2em;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
  background: var(--acnt-b);
  border-radius: 50%;
  overflow: hidden;
  transition: .4s;
  transition-timing-function: ease;
  position: relative;
}

.main-area-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--clr);
}

.rotator-div {
  width: 15em;
  height: 15em;
  position: absolute;
  align-self: center;
  justify-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--clr);
}

.main-area-input {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  cursor: pointer;
  background: var(--acnt-d);
  transition: .7s;
  border: .2em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f), inset -.1em -.1em 1em var(--acnt-f);
  z-index: 1;
}

.main-area-well {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .4s;
  background: radial-gradient(var(--acnt-d), var(--acnt-a));
  box-shadow: inset -.2em -.2em 2em var(--acnt-c);
}

.well-shader {
  display: flex;
  position: absolute;
  background: var(--clr-well);
  width: 100%;
  height: 0;
  transition: .2s;
  bottom: 0;

}

.rotator {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background: var(--acnt-d);
  border: .2em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f), inset -.1em -.1em 1em var(--acnt-f);
  transition: .7s;
  cursor: pointer;
  z-index: 2;
}

.field-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes osc {
  0% {
    width: calc(var(--width-landscape) - 15%);
  }

  50% {
    width: calc(var(--width-landscape) - 10%);
    left: calc(50% - var(--width-landscape) / 2 + 5%);
  }

  100% {
    width: calc(var(--width-landscape) - 15%);
  }
}

.field-shader {
  width: calc(var(--width-landscape));
  height: calc(var(--width-landscape) - 10%);
  left: calc(var(--width-landscape) / 2 + 7.5%);
  transform: scale(90%);
  z-index: 5;
  position: absolute;
  border-radius: 30%;
  box-shadow: -.1em -.1em 2em var(--acnt-f), inset 0 0 2em var(--acnt-f);
  animation-name: osc;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background: var(--acnt-f);
}

@media (max-width: 1080px) {
  .main-area {
    width: var(--width-portrait);
    height: var(--width-portrait);
  }

  @keyframes osc {
    0% {
      width: calc(var(--width-b-portrait));
    }

    50% {
      width: calc(var(--width-b-portrait) - 2em);
      left: calc(50% - var(--width-b-portrait) / 2 + 1em);
    }

    100% {
      width: calc(var(--width-b-portrait));
    }
  }

  .field-shader {
    width: calc(var(--width-b-portrait));
    height: calc(var(--width-b-portrait) + 10em);
    left: calc(50% - var(--width-b-portrait) / 2);
  }

  .inner-field {
    top: 15%;
    left: 5%;
    width: 90%;
    height: 70%;
  }
}

