
:root {
  --bg: #eae2d7;
  --fg: #5e3d1c;
  --txt: #2f2f2f;
  --acnt-a: #665340;
  --acnt-b: #b8aca2;
  --acnt-c: #b57843;
  --acnt-d: #e1dad2;
  --acnt-e: #eae2d7;
  --acnt-f: #f0ae4e;
  --main: #665340;
  --main-area-well-inactive: radial-gradient(var(--acnt-d), var(--acnt-d), var(--acnt-f));
  --main-area-well-active: radial-gradient(#070707, #0e0e0e, var(--bd));
  --clr-well: linear-gradient(#6a7fef, #3a4faf, #0a1f6f);
  --valid-selection: #4fff4f;
  --invalid-selection: #ff6f6f;
  --invalid-selection-b: #bb4a4a;
  --bd: #6f4e2d;
  --clr: #00000000;
  --width-portrait: 95vw;
  --width-b-portrait: 100vw;
  --width-landscape: 50vw;
  --width-b-landscape: 60vw;
}

@font-face {
  src: url(./../fonts/Nunito/Nunito-Regular.ttf);
  font-family: mono;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: unset;
  border: unset;
  outline: unset;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  background: var(--bg);
  overflow: hidden;
  background: var(--acnt-f);
  font-family: mono;
}

.header-area {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 12em;
  background: var(--clr);
  z-index: 6;
  position: absolute;
  gap: 1.5em;
}

header {
  padding: 2em;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  background: var(--clr);
}

.header-box-shadow {
  box-shadow: var(--acnt-f) 0 0 5em 2em;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.menu {
  position: absolute;
  width: 4em;
  height: 4em;
  border: 2px solid var(--acnt-b);
  right: 1em;
  top: 1em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  box-shadow: var(--acnt-b) 0 0 .2em .1em, inset -.2em -.2em 2em var(--bg);
  transition: 1s;
  cursor: pointer;
  z-index: 9;
  background: var(--acnt-d);
}

.menu:hover {
  box-shadow: var(--bg) 0 0 .2em .1em, inset -.2em -.2em 1em var(--acnt-f);
}

.menu-div {
  width: 60%;
  height: .2em;
  border: 2px solid var(--acnt-c);
  border-radius: 50%;
  transition: .2s;
  transition-timing-function: ease-out;
}

.menu-div:nth-child(1) {
  border: 2px solid var(--acnt-b);
  width: 30%;
}

.menu-div:nth-child(3) {
  border: 2px solid var(--acnt-b);
  width: 30%;
}

.menu-panel {
  display: flex;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 7;
  background: var(--acnt-e);
  position: absolute;
  transition: .2s;
  opacity: 0;
  padding: 10em 4em 2em 4em;
  gap: 2em;
}

.menu-panel-area {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 25%;
  height: 100%;
  gap: 2em;
}

.menu-panel-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2em;
  background: var(--acnt-d);
  color: var(--txt);
  box-shadow: var(--acnt-f) 0 0 .2em .1em;
  border-radius: .5em;
  border-radius: 15%;
  opacity: 0;
  transition: .7s;
  gap: 1em;
}

.outer-field {
  width: 100%;
  height: 100%;
  background: radial-gradient(var(--acnt-e), var(--acnt-a));
  z-index: 0;
  overflow: hidden;
}

@keyframes sway-display {
  0% {
    top: 2em;
  }

  25% {
    top: 2.2em;
  }

  50% {
    top: 1.9em;
  }

  75% {
    top: 2.1em;
  }

  100% {
    top: 2em;
  }
}

.display-panel {
  position: absolute;
  top: 2em;
  left: 2em;
  height: 6em;
  width: 6em;
  border: 2px solid var(--acnt-b);
  box-shadow: var(--acnt-b) 0 0 .5em .1em;
  border-radius: 50%;
  background: radial-gradient(var(--acnt-d), var(--acnt-f));
  display: flex;
  transition: 1s;
  align-items: center;
  justify-content: center;
  animation-name: sway-display;
  animation-timing-function: ease;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  z-index: 6;
}

.points-display {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--txt);
}

.inner-field {
  z-index: 5;
  width: calc(var(--width-landscape) - 15%);
  height: calc(var(--width-landscape) - 10%);
  left: calc((var(--width-landscape) / 2) + 7.5%);
  top: 7.5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--acnt-e);
  padding: 2em;
  box-shadow: var(--acnt-f) 0 0 2em .2em, inset -.2em -.2em 2em var(--acnt-c);
  border-radius: 50%;
}

.ceil-shader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
}

.main-area {
  width: calc(var(--width-landscape) - 15em);
  height: calc(var(--width-landscape) - 15em);
  border: .4em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--acnt-b);
  border-radius: 50%;
  overflow: hidden;
  transition: .4s;
  transition-timing-function: ease;
  position: relative;
}

.input-pair-area-I {
  align-self: center;
  justify-self: center;
  width: .1em;
  height: 100%;
  position: absolute;
  transform: rotate(0);
  display: flex;
  padding: 2% 0;
  transition: .7s;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.input-element-I {
  width: 9em;
  height: 9em;
  border-radius: 50%;
  background: var(--acnt-d);
  border: .2em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f), inset -.1em -.1em 1em var(--acnt-f);
  transition: .7s;
  cursor: pointer;
  opacity: 0;
}

.input-pair-area-II {
  align-self: center;
  justify-self: center;
  width: .1em;
  height: 100%;
  position: absolute;
  transform: rotate(22.5deg);
  display: flex;
  padding: 21% 0;
  transition: .5s;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.input-element-II {
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  background: var(--acnt-d);
  border: .2em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f), inset -.1em -.1em 1em var(--acnt-f);
  transition: .7s;
  cursor: pointer;
  opacity: 0;
}

.rotator-div {
  width: 15em;
  height: 15em;
  position: absolute;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--clr);
}

.main-area-well {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .4s;
  background: var(--main-area-well-active);
  box-shadow: inset -.2em -.2em 2em var(--acnt-c);
  border-radius: 50%;
  transition: 6s;
}

.well-shader {
  display: flex;
  position: absolute;
  background: var(--clr-well);
  width: 100%;
  height: 0;
  transition: .2s;
  bottom: 0;
}

.well-play-shader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset -.2em -.2em 2em var(--acnt-c);
  border-radius: 50%;
  transition: 1s;
  z-index: 0;
  background: var(--main-area-well-inactive);
  opacity: 100;
}

.rotator {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: var(--acnt-d);
  border: .2em outset var(--acnt-e);
  box-shadow: -.1em -.1em .5em var(--acnt-f), inset -.1em -.1em 1em var(--acnt-f);
  transition: .7s;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.field-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-div {
  background: radial-gradient(var(--acnt-d), var(--acnt-e));
  box-shadow: inset -2.5em -1.5em 4em var(--acnt-f);
  border: .2em inset var(--acnt-c);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
  transition-timing-function: ease-in-out;
  opacity: 100;
}

.play {
  width: 15%;
  height: 15%;
  background: radial-gradient(var(--acnt-d), var(--acnt-f));
  border: .2em solid var(--acnt-f);
  box-shadow: var(--acnt-c) 0 0 5em .2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.play-icon {
  width: 0;
  height: 0;
  background: linear-gradient(var(--clr), var(--clr));
  border-top: 1em solid var(--clr);
  border-bottom: 1em solid var(--clr);
  border-left: 2em solid var(--acnt-f);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition: 1s;
}

@keyframes osc {
  0% {
    width: calc(var(--width-landscape) - 15%);
  }

  50% {
    width: calc(var(--width-landscape) - 10%);
    left: calc(50% - var(--width-landscape) / 2 + 5%);
  }

  100% {
    width: calc(var(--width-landscape) - 15%);
  }
}

.field-shader {
  width: calc(var(--width-landscape));
  height: calc(var(--width-landscape) - 10%);
  left: calc(var(--width-landscape) / 2 + 7.5%);
  transform: scale(90%);
  z-index: 5;
  position: absolute;
  border-radius: 30%;
  box-shadow: -.1em -.1em 2em var(--acnt-f), inset 0 0 2em var(--acnt-f);
  animation-name: osc;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  background: radial-gradient(var(--acnt-e), var(--acnt-e), var(--acnt-f));
}

@media (max-width: 1080px) {
  .menu-panel {
    padding: 10em 1em 2em 1em;
  }

  .menu-panel-area {
    width: 100%;
    gap: 1em;
  }

  .main-area {
    width: var(--width-portrait);
    height: var(--width-portrait);
  }

  @keyframes osc {
    0% {
      width: calc(var(--width-b-portrait));
    }

    50% {
      width: calc(var(--width-b-portrait) - 2em);
      left: calc(50% - var(--width-b-portrait) / 2 + 1em);
    }

    100% {
      width: calc(var(--width-b-portrait));
    }
  }

  .field-shader {
    width: calc(var(--width-b-portrait));
    height: calc(var(--width-b-portrait) + 10em);
    left: calc(50% - var(--width-b-portrait) / 2);
  }

  .inner-field {
    top: 15%;
    left: 2.5%;
    width: 95%;
    height: 70%;
  }

  .input-pair-area-I {
  }

  .input-element-I {
    width: 5.6em;
    height: 5.6em;
  }

  .input-element-II {
    width: 4.1em;
    height: 4.1em;
  }

  .rotator {
    width: 7em;
    height: 7em;
  }

  .play {
    width: 20%;
    height: 20%;
  }

  .play-icon {
    border-top: .9em solid var(--clr);
    border-bottom: .9em solid var(--clr);
    border-left: 1.4em solid var(--acnt-f);
  }
}

@media (min-height: 1080px) {
  .menu-panel {
    padding: 10em 3em 2em 3em;
  }

  .menu-panel-area {
    width: 75%;
  }

  .main-area {
    width: var(--width-portrait);
    height: var(--width-portrait);
  }

  .inner-field {
    width: calc(var(--width-portrait) - 11.5%);
    height: calc(var(--width-portrait) + 15%);
    top: 7.5%;
    left: 7.5%;
  }

  .input-element-I {
    width: 10em;
    height: 10em;
  }

  .input-element-II {
    width: 7.4em;
    height: 7.4em;
  }

  .rotator {
    width: 10.5em;
    height: 10.5em;
  }

  @keyframes osc {
    0% {
      width: calc(var(--width-portrait) - 3.75%);
      left: 3.75%;
    }

    50% {
      width: calc(var(--width-portrait)  + 7.5%);
      left: -1.875%;
    }

    100% {
      width: calc(var(--width-portrait) - 3.75%);
      left: 3.75%;
    }
  }

  .field-shader {
    width: calc(var(--width-portrait) - 3.75%);
    height: calc(var(--width-portrait) + 7.5%);
    left: 3.75%;
    top: 11.25%;
  }

  .play-icon {
    border-top: 1em solid var(--clr);
    border-bottom: 1em solid var(--clr);
    border-left: 2em solid var(--acnt-f);
  }
}

